.bB1 {
  background-image: url(https://i.ibb.co/nMtyCfg/Index.png) !important;
}
.bB2 {
  background-image: url(https://i.ibb.co/M7z7Zm5/Cadastro.png) !important;
}
.bB3 {
  background-image: url(https://i.ibb.co/4YvnwGx/Login.png) !important;
}
.bB4 {
  background-image: url(https://i.ibb.co/k4Y75wB/Responsivo.png) !important;
}
