.bC1 {
  background-image: url(https://i.ibb.co/YB2Zbyq/Produtos.png) !important;
}
.bC2 {
  background-image: url(https://i.ibb.co/W3BSRxk/Produto.png) !important;
}
.bC3 {
  background-image: url(https://i.ibb.co/2KfDmWC/Inserir-Dados.png) !important;
}
