.corpo {
  position: relative;
  width: 100%;
  height: auto;
}
.txtName {
  width: auto;
  margin-top: 160px;
  text-align: center;
  color: white;
}
.txtName h1 {
  font-size: 42px;
}
.txtName h3 {
  font-weight: normal;
  color: #f4f4f4;
  margin-top: -10px;
  font-size: 24px;
}
.infoBox {
  max-width: 450px;
  width: 96%;
  height: 300px;
  border-radius: 6px;
  margin: 42px auto;
  margin-top: 112px;
  align-items: center;
  text-align: center;
  color: #2e3159;
  padding: 12px;
}
.infoBox p {
  font-size: 19.3px;
  color: black;
}
.infoBox a {
  text-decoration: none;
  color: #2e3159;
  width: 90%;
  font-size: 24px;
  font-weight: bold;
  height: 60px;
  border-bottom: 2px solid;
  transition: 200ms;
}
.infoBox a:hover {
  border-color: #e4b359;
  color: #6064a8;
}
