.bH1 {
  background-image: url(https://i.ibb.co/P15vFXn/Screenshot-20200405-002341-Expo.jpg) !important;
}
.bH2 {
  background-image: url(https://i.ibb.co/m6PZzJd/Screenshot-20200405-002358-Expo.jpg) !important;
}
.bH3 {
  background-image: url(https://i.ibb.co/3Rg4KN1/Screenshot-20200405-002350-Expo.jpg) !important;
}
