.b1 {
  background-image: url(https://i.ibb.co/L5VmyzV/Tela-Inicial.png) !important;
}
.b2 {
  background-image: url(https://i.ibb.co/9g5z0Cb/Cadastro.png) !important;
}
.b3 {
  background-image: url(https://i.ibb.co/C5dch12/Cadastrar-Caso.png) !important;
}
.b4 {
  background-image: url(https://i.ibb.co/7VKLkKq/Caso-Cadastrado.png) !important;
}
.b5 {
  background-image: url(https://i.ibb.co/Jm9TZkc/Screenshot-2020-03-26-21-10-34.png) !important;
}
.b6 {
  background-image: url(https://i.ibb.co/W5pyPmK/Screenshot-2020-03-26-21-10-48.png) !important;
}
