.bB1 {
  background-image: url(https://i.ibb.co/VTX5vJL/Airbnb-Thumb.jpg) !important;
}
.bB2 {
  background-image: url(https://i.ibb.co/N3yRx5F/2.png) !important;
}
.bB3 {
  background-image: url(https://i.ibb.co/DK8MNDs/3.jpg) !important;
}
.bB4 {
  background-image: url(https://i.ibb.co/7QX76Z6/Screenshot-2020-03-25-Airbnb-Clone.png) !important;
}
