.bA1 {
  background-image: url(https://i.ibb.co/HxfxvGG/Inicio.jpg) !important;
}
.bA2 {
  background-image: url(https://i.ibb.co/GtbwYw3/Cadastrar-Spot.jpg) !important;
}
.bA3 {
  background-image: url(https://i.ibb.co/VDx6mxq/Spots.jpg) !important;
}
.bA4 {
  background-image: url(https://i.ibb.co/Ry122n6/Aceitar.jpg) !important;
}
.bA5 {
  background-image: url(https://i.ibb.co/10xjScn/Login.png) !important;
}
.bA6 {
  background-image: url(https://i.ibb.co/cQ1wq2w/Empresas.png) !important;
}
.bA7 {
  background-image: url(https://i.ibb.co/qmxyqwm/data.png) !important;
}
.bA8 {
  background-image: url(https://i.ibb.co/JQZSJR9/Reserva-Solicitada.png) !important;
}
.bA9 {
  background-image: url(https://i.ibb.co/4N0Dycm/Aprova-o.png) !important;
}
