.bD1 {
  background-image: url(https://i.ibb.co/QKG0mb0/Screenshot-2020-03-30-Gyn-Maneger.png) !important;
}
.bD2 {
  background-image: url(https://i.ibb.co/fSSy9ys/Screenshot-2020-03-30-Gyn-Maneger-1.png) !important;
}
.bD3 {
  background-image: url(https://i.ibb.co/1RKw05P/Screenshot-2020-03-30-Gyn-Maneger-3.png) !important;
}
.bD4 {
  background-image: url(https://i.ibb.co/TY6xmgt/Screenshot-2020-03-30-Gyn-Maneger-4.png) !important;
}
.bD5 {
  background-image: url(https://i.ibb.co/y4mmcMj/Screenshot-2020-03-30-Gyn-Maneger-5.png) !important;
}
.bD6 {
  background-image: url(https://i.ibb.co/RQgYRq2/Screenshot-2020-03-30-Gyn-Maneger-2.png) !important;
}
