.txtTopGit {
  color: white;
  margin: 0 auto;
  margin-top: 160px;
  text-align: center;
  max-width: 400px;
  font-size: 18px;
}
.containerCards {
  width: 80%;
  height: 600px;
  margin-left: 10%;
  justify-content: center;
  align-items: top;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 64px;
}
.containerCards a {
  text-decoration: none;
  color: #2e3159;
}
.card {
  background-color: white;
  position: relative;
  width: 300px;
  height: 300px;
  margin: 16px;
  box-shadow: 4px 4px 8px -4px rgba(0, 0, 0, 0.75);
}
.imgCard {
  width: 100%;
  height: 70%;
}
.cardFooter {
  padding: 6px;
}
.cardFooter h1 {
  font-size: 24px;
  color: #2e3159;
}
.cardFooter p {
  font-size: 14px;
  max-width: 200px;
}
.cardIcons {
  height: 50px;
  right: 0;
  position: absolute;
  top: 70%;
  padding: 12px;
  padding-bottom: 0px;
}

.bg1 {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://i.ibb.co/ZWghR4d/heroes.png);
  background-color: lightskyblue;
}
.bg2 {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://i.ibb.co/mh5LrWg/airbnb.jpg);
  background-color: rgb(255, 122, 144);
}
.bg3 {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://i.ibb.co/fXk0sxT/0.png);
  background-color: rgb(251, 159, 174);
}
.bg4 {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://i.ibb.co/s9zVRKJ/product-hunt.png);
  background-color: lightsalmon;
}
.bg5 {
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://i.ibb.co/YWfjyVd/54-542135-bodybuilding-and-dumbbells-vector-image-illustration-dumbbell-clipart.png);
  background-color: lightskyblue;
}
.bg6 {
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://i.ibb.co/7NZgGhN/astronauta.png);
  background-color: rgb(204, 135, 250);
}
.bg7 {
  background-size: 45%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(https://i.ibb.co/F32kFrF/4257275.png);
  background-color: rgb(230, 166, 221);
}
