@import url("https://fonts.googleapis.com/css?family=Baloo+2:400,700&display=swap");
* {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}
body {
  font-family: "Baloo 2", cursive;
  font-weight: normal;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased !important;
}
header {
  top: 16px;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 3;
}
.links {
  padding: 32px;
}
.links a {
  font-size: 24px;
  color: white;
  text-decoration: none;
  margin: 12px;
}

.links a:hover {
  color: #f2bf5e !important;
  transition: color 200ms;
  cursor: pointer;
}
.active {
  font-weight: bold;
  color: #f2bf5e !important;
  border-bottom: 2px solid #f2bf5e;
}

.containerHero {
  position: relative;
  width: 90%;
  height: auto;
  margin-left: 5%;
  margin-top: 140px;
  box-sizing: border-box;

  display: flex;
  justify-content: left;
  align-items: top;
  flex-direction: row;
  flex-wrap: wrap;
}
.containerHeroTxt {
  width: auto;
  margin: 12px auto;
  text-align: center;
}
.containerHeroTxt h1 {
  font-size: 32px;
  color: white;
}
.containerHeroTxt p {
  font-size: 18px;
  color: #f4f4f4;
}
.containerHeroTxt a {
  font-size: 16px;
  color: #f4f4f4;
}
.descProj {
  width: 100%;
  margin: 0 auto;
  margin-top: 180px;
}
.descProj p {
  font-size: 18px;
  max-width: 580px;
  margin: 0 auto;
  text-align: center;
}
.descProj h2 {
  font-size: 22px;
  max-width: 480px;
  margin: 0 auto;
  margin-top: 24px;
  text-align: center;
  color: #2e3159;
}
.descProj strong {
  color: #2e3159;
}
.imagensBTH {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 64px;
  margin-bottom: 64px;

  display: inline-flex;
  align-items: top;
  justify-content: center;
  flex-wrap: wrap;
}
.imagensBTH h1 {
  width: 100%;
  height: 80px;
  margin-top: 12px;
  text-align: center;
}
.imagensBTH .alingn {
  margin-top: 12px;
}
.imagensBTH .alingn.cel {
  margin-top: -36px !important;
}

.imagensContainerHero {
  position: relative;
  width: 90%;
  max-width: 320px;
  height: 160px !important;
  box-shadow: 2px 4px 12px -4px rgba(0, 0, 0, 0.45);

  background: no-repeat;
  background-size: contain;
  background-position: center;
}
.imagensContainerHeroCel {
  margin: 12px;
  height: 320px !important;
  width: 160px !important;
}
.imagensBTH .imagensContainerHero {
  width: 581px;
  height: 327px;
  margin: 12px;
}
